{% extends "base.html" %}

{% block content %}
    <table style="width:100%">
    <tr>
        <td>
            <form action="" method="post">
                {{ form.hidden_tag() }}
            <p>
                {{ form.wl.label }}
                {{ form.wl(size=32) }}
            </p>
            <p>
                {{ form.wl_std.label }}
                {{ form.wl_std(size=32) }}
            </p>
            <p>
                {{ form.d1.label }}
                {{ form.d1(size=32) }}
            </p>
            <p>
                {{ form.d2.label }}
                {{ form.d2(size=32) }}
            </p>
            <p>
                {{ form.d3.label }}
                {{ form.d3(size=32) }}
            </p>
            <p>
                {{ form.d4.label }}
                {{ form.d4(size=32) }}
            </p>
            <p>
                {{ form.r.label }}
                {{ form.r(size=32) }}
            </p>
            <p>
                {{ form.n.label }}
                {{ form.n(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
            </form>
        </td>
        <td>
            {{ script|safe }}
            {{ div|safe }}
        </td>
    </tr>
    </table>
{% endblock %}